@import "~antd/lib/style/themes/default.less";
@import "~antd/dist/antd.less";
@import "./font.less";

@font-family: iranyekan;
@typography-title-margin-top: 0;
@typography-title-margin-bottom: 0;
@border-radius-base: 10px;
@form-item-margin-bottom: 70px;
@text-color-secondary: #284564;

@border-radius-content: 3rem 0 3rem 3rem;
@border-radius-full: 3rem 3rem 3rem 3rem;
@body-width: 1264px;
@theme-text: #5f6f81;
@padding-margin: 25px;

body {
  background-color: #f0f2f5;
}

.flex-center {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-box;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.text-center {
  text-align: center;
}

.content {
  background-color: white;
  border-radius: @border-radius-content;
  margin: 0px;
  min-height: 280px;
  &-children {
    background-color: white;
    padding: @padding-margin;
    border-radius: @border-radius-content;
  }
}

.outer-layout {
  padding: 1.87rem;
  @media screen and (max-width: 768px) {
    padding: 0.6rem;
  }
}
.inner-layout {
  max-width: @body-width;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.header {
  max-width: @body-width;
  flex-direction: row;
  ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 25px 40px;
  }
}

.nav {
  background-color: white;
  border-radius: 0 3rem 0 0;
  margin-left: auto;
  position: relative;
  font-weight: 500;
  bottom: -1px;
  &::after {
    content: "";
    background-image: url("../images/nav-edge.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 102.1%;
    position: absolute;
    top: 0;
    left: -133px;
    width: 135px;
  }
  &-item {
    margin-left: 15px;
    a {
      color: @theme-text;
      font-size: 16px;
      padding: 10px 24px;
      border-radius: 16px;
    }
  }
}

.sider {
  padding: @padding-margin;
  &-avatar {
    border-radius: @border-radius-full;
    height: 215px;
  }
  &-name {
    margin: @padding-margin auto;
  }
  &-badge {
    background-color: #eff2f7;
    padding: 10px 15px;
    border-radius: @border-radius-full;
  }
  &-info {
    width: 100%;
    margin: 35px 0;
    &-list {
      list-style: none;
      margin: 0;
      padding: 0;
    }
  }
  &-info-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
}

.about-card {
  border: 2px solid #eff2f7;
  border-radius: 10px;
  &-image {
    max-width: 64px;
    margin: @padding-margin auto;
  }
  &-text {
    h5 {
      color: @theme-text;
    }
    h4 {
      color: rgb(65, 65, 65);
    }
    margin-bottom: @padding-margin;
  }
}

.title-separate {
  margin-bottom: 40px;
  position: relative;
  &::before,
  &::after {
    content: "";
    background-color: #304cfd;
    border-radius: 0.5rem;
    height: 5px;
    position: absolute;
    bottom: -1.1rem;
    right: 0;
    width: 3.12rem;
    z-index: 1;
  }
  &::after {
    background-color: #ff965d;
    width: 1rem;
  }
}

.post-cover {
  width: 100%;
  height: 165px;
  border-radius: 10px;
  box-shadow: 1px 3px 16px #a7a7a7;
}

.post-info {
  margin-top: 20px;
  padding: 3px;
}

.post-date {
  background-color: rgb(49, 84, 160);
  color: white;
  font-size: 10px;
  border-radius: 10px;
  padding: 5px 10px;
}

.post-excerpt {
  color: @theme-text;
  line-height: 1.7;
}

.post-tags {
  color: rgb(49, 84, 160);
  word-spacing: 10px;
  direction: ltr;
  float: right;
}

.post-banner {
  margin: 0 4rem;
  border-radius: @border-radius-full;
}
